In [1]:
import numpy as np
import pandas as pd

In [2]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credit=pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
credit.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
movies=movies.merge(credit,on='title')

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [7]:
# now remove the unnessery coulomns
#so what are the importany coulmns u need for movie recommendation system
# 1.geners
# 2.id
# 3.keywords
# 4.title
# 5.overview
# 6.cast
# 7.crew

In [8]:
movies=movies[['movie_id','title','genres','overview','keywords','cast','crew']]

In [9]:
movies.sample(2)

,movie_id,title,genres,overview,keywords,cast,crew
4580,308467,Roadside,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 18, ""nam...","Dan Summers and his pregnant wife, Mindy, figh...",[],"[{""cast_id"": 1, ""character"": ""Dan Summers"", ""c...","[{""credit_id"": ""54850af6c3a3680b36001a86"", ""de..."
1706,315664,Florence Foster Jenkins,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","The story of Florence Foster Jenkins, a New Yo...","[{""id"": 2199, ""name"": ""opera""}, {""id"": 5565, ""...","[{""cast_id"": 0, ""character"": ""Florence Foster ...","[{""credit_id"": ""572cadb792514165f000009f"", ""de..."

In [10]:
# now from this data frame we will make a data frame in which 3 coulmns are there 'movie_id','title','tags'
# tags=by merging alll the rest coulmns

In [11]:
# lets find if there is missing data
movies.isnull().sum()

movie_id    0
title       0
genres      0
overview    3
keywords    0
cast        0
crew        0
dtype: int64

In [12]:
movies.dropna(inplace=True)

In [13]:
movies.duplicated().sum()

0

In [14]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [15]:
# i want-----
# '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]  
#into
# this---
# ['action','adventure','famntacy']

In [16]:
import ast

In [17]:
def convert(obj):
    l=[]
    for i in  ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [18]:
movies['genres']=movies['genres'].apply(convert)

In [19]:
movies['keywords']=movies['keywords'].apply(convert)

In [20]:
movies.sample(2)

,movie_id,title,genres,overview,keywords,cast,crew
1954,48034,Little White Lies,"[Comedy, Drama]","Despite a traumatic event, a group of friends ...","[american football, country house, motorboat, ...","[{""cast_id"": 1, ""character"": ""Max Cantara"", ""c...","[{""credit_id"": ""52fe4753c3a36847f812f899"", ""de..."
2093,840,Close Encounters of the Third Kind,"[Science Fiction, Drama]","After an encounter with UFOs, a line worker fe...","[indiana, obsession, extraterrestrial technolo...","[{""cast_id"": 14, ""character"": ""Roy Neary"", ""cr...","[{""credit_id"": ""52fe427ec3a36847f802346b"", ""de..."

In [21]:
# movies['cast'][0]

In [22]:
# i want anly the top 3 actors in movies

In [23]:
def convert(obj):
    l=[]
    counter=0
    for i in  ast.literal_eval(obj):
        if counter !=3:
            l.append(i['name'])
        else:
            break
    return l

In [24]:
movies['cast']=movies['cast'].apply(convert)

In [25]:
movies.sample(2)

,movie_id,title,genres,overview,keywords,cast,crew
3995,13025,Diary of the Dead,"[Horror, Action, Science Fiction]",A group of young film students run into real-l...,"[zombie, found footage]","[Michelle Morgan, Joshua Close, Shawn Roberts,...","[{""credit_id"": ""52fe45319251416c7504eab9"", ""de..."
2751,15250,This Christmas,"[Comedy, Drama]",This year Christmas with the Whitfields promis...,"[drama, family, family holiday, family feud]","[Loretta Devine, Delroy Lindo, Idris Elba, Reg...","[{""credit_id"": ""52fe46469251416c75073109"", ""de..."

In [26]:
# now i have the final coulmn crew ...from 
# which i want only the job=director
# movies['crew'].values

In [27]:
def director(obj):
    l=[]
    for i in  ast.literal_eval(obj):
        if  i['job']=='Director':
            l.append(i['name'])   
            break
    return l

In [28]:
movies['crew']=movies['crew'].apply(director)

In [29]:
movies.sample(1)

,movie_id,title,genres,overview,keywords,cast,crew
3122,39037,The Good Guy,"[Comedy, Romance]",Ambitious young Manhattanite and urban conserv...,[independent film],"[Alexis Bledel, Colin Egglesfield, Anna Chlums...",[Julio DePietro]

In [30]:
movies['overview']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: overview, Length: 4806, dtype: object

In [31]:
# now i have to convert this in to list
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [32]:
movies.head()

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[Action, Adventure, Crime]","[A, cryptic, message, from, Bond’s, past, send...","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[John, Carter, is, a, war-weary,, former, mili...","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [33]:
#  guys u can notice( Sam Worthington,Sam Mendes ) these two word 
# in which sam is common which can affect my model later 
# so what i will do i will remove the space between the name
# so that it will easy to distiguish the model easily

In [34]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])

In [35]:
movies.head(2)

,movie_id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]

In [36]:
# lets creat the tag column
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['crew']+movies['cast']

In [37]:
movies.sample(2)

,movie_id,title,genres,overview,keywords,cast,crew,tags
547,23629,Sucker Punch,"[Action, Fantasy, Thriller]","[A, young, girl, is, institutionalized, by, he...","[brothel, fantasy, asylum, reality, escape, ro...","[EmilyBrowning, AbbieCornish, JenaMalone, Vane...",[ZackSnyder],"[A, young, girl, is, institutionalized, by, he..."
1106,5503,The Fugitive,"[Adventure, Action, Thriller, Crime, Mystery]","[Wrongfully, accused, of, murdering, his, wife...","[chicago, showdown, undercover, surgeon, death...","[HarrisonFord, TommyLeeJones, SelaWard, Julian...",[AndrewDavis],"[Wrongfully, accused, of, murdering, his, wife..."

In [38]:
# now make a new dataframe in which only is,tag and title present
movies = movies[['movie_id','title','tags']]

In [39]:
movies.head(2)

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."

In [40]:
# now let convert the tag list into string
movies['tags']=movies['tags'].apply(lambda x:" ".join(x))

In [41]:
movies.head(2)

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."

In [42]:
movies['tags']=movies['tags'].apply(lambda x:x.lower())

In [43]:
movies.head(2)

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."

In [44]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [45]:
vectors=cv.fit_transform(movies['tags']).toarray()

In [46]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [47]:
# to see the 500 commom words
commonwords=cv.get_feature_names_out()

In [48]:
# commonwords

In [49]:
# # Change print options to display the full array
# np.set_printoptions(threshold=np.inf)

In [50]:
commonwords

array(['000', '007', '10', ..., 'zoo', 'zooeydeschanel', 'zoëkravitz'],
      dtype=object)

In [51]:
# here i have 2 issues
#1.like   'actor', 'actors'  these r same words 
#2.digits

In [52]:
# now i will apply staming
# by applying this  'actor', 'actors' i will get only actor ,and this for all

In [53]:
import nltk

In [54]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [55]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [56]:
ps.stem('loved')

'love'

In [57]:
vectors=cv.fit_transform(movies['tags']).toarray()
movies['tags']=movies['tags'].apply(stem)
commonwords=cv.get_feature_names_out()

In [58]:
commonwords

array(['000', '007', '10', ..., 'zoo', 'zooeydeschanel', 'zoëkravitz'],
      dtype=object)

In [59]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [60]:
# now i will calculate the distance of one movie w.r.t others
#to know the similatity
# and like this for all

In [61]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors)

In [62]:
similarity.shape

(4806, 4806)

In [63]:
similarity[0]# showing the similarity of one movie w.r.t others
# more closer to 1 more similarity

array([1.        , 0.07142857, 0.05216405, ..., 0.02326211, 0.02571722,
       0.        ])

In [64]:
# sorted(similarity[0],reverse=True)

In [65]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(1920, 0.23473823893078552),
 (1216, 0.23294541397390256),
 (582, 0.2309782890611944),
 (539, 0.2252817784447915),
 (507, 0.21912524504463887)]

In [66]:
movies[movies['title']=='Batman'].index[0]# to know the index

1362

In [67]:
# lets make a function ,in which if i give a movie it will recommend 5 same type of movie

In [68]:
def recommend(movie):
    movie_index=movies[movies['title']==movie].index[0]
    distances=similarity[movie_index]
    movie_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(movies.iloc[i[0]].title)

In [69]:
recommend('Avatar')

Lifeforce
Aliens vs Predator: Requiem
Battle: Los Angeles
Titan A.E.
Independence Day